.checkout {
    display: flex;
    justify-content: space-around;
}

.checkout .rightColumn {
    width: 30%;
}

.addressPanel fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.addressPanel label {
    display: block;
    font-size: 0.8em;
}

.addressPanel input[type='text'] {
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 30em;
}

.ccFormPanel fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.ccFormPanel label {
    display: block;
    font-size: 0.8em;
}

.ccFormPanel input[type='text'] {
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 30em;
}

.nextButton {
    margin-top: 1em;
    margin-bottom: 4em;
}

@media screen and (max-width: 900px) {
    .checkout {
        flex-direction: column-reverse;
    }

    .checkout .rightColumn {
        width: 100%;
    }
}
