.checkoutSuccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderNumberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
    min-height: 20vh;
    font-size: 1em;
    text-align: center;
    background: #EEEEEE;
    margin-bottom: 4em;
}

.orderNumber {
    font-size: 2em;
    font-weight: bold;
}

.followUp {
    width: 50vw;
    display: flex;
    justify-content: center;
}

.followUp .copy {
    padding: 3em;
}