.cart {
    position: absolute;
    height: 100vh;
    width: 0;
    background-color: #EEEEEE;
    right: 0;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

.cart.show {
    width: 25%;
}

.cart .removeItem {
    cursor: pointer;
}

.cart .emptyMessage {
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #DDDDDD;
}

.item .image {
    height: 4em;
    width: 4em;
    background-size: cover;
}

.item .details {
    flex-grow: 1;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .details label {
    font-size: 0.5em;
}

.totals {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}

.totals li {
    display: flex;
    justify-content: space-between;
}

.totals .grandTotal {
    border-top: 1px solid #DDDDDD;
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.cart .checkoutButtonContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 3em;
}

@media screen and (max-width: 900px) {
    .cart.show {
        width: 80%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .cart.show {
        width: 50%;
    }
}