.reviews {
    display: flex;
    flex-wrap: wrap;
}

.review {
    margin-bottom: 2em;
    margin-right: 3em;
}

.feedback {
    font-size: 0.7em;
}

.feedbackButton {
    color: rgb(38, 38, 145);
    cursor: pointer;
}