.header {
  height: 4em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4em;
}

.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header li {
  display: inline-block;
  margin-right: 1em;
}

main {
  padding-left: 4em;
  padding-right: 4em;
}